.gradle/
/build/
/captures/
/local.properties
/.idea/
*.iml
*.log
/app/build/
/gradle-9.1.0/
/gradle-9.1.0-bin.zip
/android-sdk/
/commandlinetools-win.zip
/2026.raw.json
/2027.raw.json
/holiday-2026.json
/holiday-2027.json
/bugreport-*.zip
/editor-step-*.png
/overtime-*.png
*.jks
*.jks.base64.txt
/.env
/midscene_run/
